@use "basics" as *;

.profile {
    @include flex($j: center);
    max-width: 1200px;
    gap: max(60px, 10vw);

    align-self: center;

    img {
        height: 400px;
        border: 4px solid whitesmoke;
        border-radius: 40px;
        box-shadow: 0px 0px 15px 3px gray;
    }

    .links {
        @include flex();
    }
}

.section {
    padding: 0 $gutter-h;
    margin-top: 70px;

    .content {
        padding: 20px 80px;
    }
}

.heading {
    width: 100%;
    display: flex;
    gap: 15px;
    &:after {
        // Thank you https://stackoverflow.com/a/62358739
        content: '';
        flex: 10 1 auto;
        border-bottom: solid 2px #fff;

        align-self: center;
    }
    &:before {
        content: "";
        flex: 1 1 auto;
        border-bottom: solid 2px #fff;

        align-self: center;
    }
}

.notable-projects {
    .content {
        @include flex(row, space-between, stretch);

        margin-top: 20px;
        gap: 30px;

        .project-card {
            @include flex(column, flex-start, center);
        
            background-color: $highlight;
            border-radius: 8px;
            overflow: hidden;
            
            width: 30%;

            padding: 10px;

            img {

            }

            .rhs {
                @include flex(column, flex-start);

                height: 100%;
                margin-top: 8px;

                .description {
                    text-align: center;
                }
            }
        }
    }
}

.contact {
    @include flex(column, center, center);
    width: 100%;
    margin-bottom: 40px;

    .contact-button {
        width: 250px;
        height: 70px;

        background-color: $highlight;
        border-radius: 20px;
        border: 2px solid whitesmoke;
    }
}