@use "basics" as *;

header,
footer,
section {
    background-color: $primary;
    color: $tertiary;
}

.profile {
    @include flex($j: flex-start);

    gap: min(max(20px, 10vw), 200px);
    padding: 0 $gutter-h;
    height: calc(100vh - 60px);
    min-height: 500px;
    max-height: 60rem;

    align-self: center;

    .lhs {
        height: 400px;
        width: 350px;
        margin-left: 50px;
        overflow: hidden;
        border: 4px solid $primary;
        border-radius: 40px;
        box-shadow: 0 0 20px 10px $primary;
        flex-shrink: 0;

        img {
            // height: 1000px;
            height: 1400px;
            // max-height: 70vh;
            // min-height: 400px;
            object-fit: cover;
            // object-position: 0 50%;
            // margin: -140% -55%;
            margin-top: -760px;
            margin-left: -340px;
        }
    }

    .rhs{
        @include flex($f: column, $j: center, $a: flex-start);
        width: 500px;
        height: 100%;
        gap: 26px;

        #intro {
            margin-bottom: 30px;
            line-height: 1.5;
        }

        .intro-links {
            @include flex();
            gap: 60px;
            a {
                @include flex();
                gap: 4px;

                &:hover {
                    color: $highlight;
                    transition: color .3s;
                }
                transition: color .2s ease-in;
            }
        }

        #contact {
            width: 220px;
            height: 50px;

            // border: 3px solid $contrast-light;
            border: none;
            border-radius: 12px;
            background-color: $tertiary;
            color: $primary;
            font-weight: 500;
            box-shadow: 0 0 6px 1px $tertiary;

            font-size: 20px;

            cursor: pointer;

            &:hover {
                // background-color: rgb(157, 153, 153);
                transition: all .3s;
                box-shadow: 0 0 15px 2px $tertiary;
            }
            transition: all .1s;
        }
    }
}

.skills {
    padding-top: 0;

    .skills-list {
        @include flex($f: column, $j: flex-start, $a: flex-start);

        line-height: 1;

        background-color: #d8d8d8;
        border-radius: 20px;
        padding: 20px;
        gap: 30px;
        color: black;

        h3 {
            margin-bottom: 15px;
            // margin-top: 20px;
        }

        ul {
            @include flex($j: flex-start);
            flex-wrap: wrap;

            gap: 60px;

            li {
                @include flex($f: column);

                img {
                    width: 80px;
                    height: 80px;

                    margin-bottom: 10px;

                    object-fit: contain;
                }
            }
        }
    }
}

#about>a {
    color: lightcoral;
    cursor: pointer;

    &:hover {
        color: lightgreen;
    }
}

.notable-projects {

    .content {
        @include flex(row, space-between, stretch);

        width: 100%;
        // padding: 20px 3vw;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 0 20px;

        .project-card {
            background-color: $contrast-light;
            border-radius: 16px;
            // border: 3px solid $primary;
            box-shadow: 0 0 20px 10px #242428;
            overflow: hidden;

            max-width: 400px;
            width: 30%;

            &:hover {
                background-color: #4f5259;
                box-shadow: 0 0 20px 2px #4f5259;
                transition: all .2s;
            }
            transition: all .1s;

            .project-content {
                @include flex(column, flex-start, center);

                padding: 10px;
                gap: 10px;

                height: 100%;

                .lhs {
                    @include flex(row, center, center);
                    height: 200px;

                    // flex-shrink: 0;
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                    }
                }

                .rhs {
                    @include flex(column, flex-start);

                    height: 50%;
                    margin-top: 8px;

                    gap: 10px;

                    .description {
                        text-align: center;
                        line-height: 1.4;
                    }
                }
            }
        }
    }
}

.contact {
    @include flex(column, center, center);
    width: 100%;
    margin-bottom: 40px;

    .contact-button {
        width: 250px;
        height: 70px;

        background-color: $contrast-light;
        border-radius: 20px;
        border: 2px solid whitesmoke;
    }
}

@media (max-width: 1000px) {
    .profile {
        padding: 0;
        // padding-right: 3vw;
        width: 100%;
        gap: 5vw;
        justify-content: center;

        #intro {
            text-align: center;
        }

        .lhs {
        // I think just have a headshot
            width: 250px;
            height: 250px;
            margin: 0;
            margin-left: 10px;

            img {
                height: 1600px;
                margin-top: -960px;
                margin-left: -460px;
            }
        }

        .rhs {
            @include flex(column, center, center);
            #intro2 {
                text-align: center;
            }
        }
    }

    .section {
        .content {
            padding: 20px 4vw;
        }
    }

    .skills {
        .skills-list {
            ul {
                li {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }

    .notable-projects {
        .content {
            flex-direction: column;
            padding: 0px calc($gutter-h - 40px);
            row-gap: 40px;

            .project-card {

                width: 100%;
                // height: 200px;
                max-width: none;

                .project-content {
                    @include flex(row, stretch, center);

                    .lhs {
                        width: 250px;
                        flex-shrink: 0;
                    }

                    .rhs {
                        padding: 0 5%;
                        gap: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .profile {
        @include flex(column, flex-start, center);
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 60px;
        height: fit-content;

        .lhs {
            margin-left: 0;
            width: 250px;
            height: 250px;
            border-radius: 1000px;
        }

        .rhs {
            width: 100vw;
            height: fit-content;

            .intro-links {
                width: 100%;
                gap: 0;
            }
        }
    }

    .heading {
        &:after {
            flex: 1 1 auto;
        }
    }
    
    .skills {
        .skills-list {
            ul {
                gap: 30px;
                li {
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
    }

    .notable-projects {
        .content {
            .project-card {
                height: 300px;
                .project-content {
                    @include flex(column, flex-start, center);

                    .lhs {
                        // width: 160px;
                        height: 45%;
                    }

                    .rhs {
                        @include flex(column, center);
                        gap: 5px;
                    }
                }
            }
        }
    }

    .section {
        padding: 0;
    }
}