@use "basics" as *;

header,
footer,
section {
    background-color: $primary;
    color: $tertiary;
}

.img-holder {
    @include flex(column, center, center);

    margin: 30px;
    gap: 40px;

    .alt {
        text-align: center;
    }
}

// Content example images
.img-holder
img {
    width: 500px;

    border: 3px solid #242428;
    border-radius: 12px;
    box-shadow: 0 0 20px 10px #242428;
}

.banner-thingy-kinda {
    @include flex(row, space-around, center);

    height: calc(100vh - 60px - 70px);
    max-height: 60rem;
    width: 100%;
    // overflow-y: hidden;

    gap: 3vw;
    padding: 0 20px 0 30px;

    .banner-text {
        @include flex(column, center, flex-start);

        width: 50%;
        gap: 20px;
        a {
            padding: 10px 20px;
            border: 3px solid $contrast-light;
            border-radius: 20px;
            box-shadow: 0 0 15px 10px $primary;

            &:hover {
                background-color: $contrast-light;
                transition: all 0.2s;
            }
            transition: all 0.1s;
        }
    }

    img {
        width: 500px;
        max-width: 95vw;
    }
}

h1 {
    font-size: 60px;
    margin: 0;
}

#modal {
    @include flex(row, center, center);
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    img {
        min-width: 50vw;
        max-width: 90vw;

        // width: 100%;
        height: fit-content;
        max-height: 80vh;
        box-shadow: none;
        object-fit: contain;
        border: none;
    }
}

@media (max-width: 1000px) {
    .banner-thingy-kinda {
        @include flex(column, center, center);
        margin-top: 60px;
        // height: auto;
        gap: 5vh;

        .banner-text, h1, div {
            width: 100%;
        }

        .banner-text {
            text-align: center;
            gap: 20px;
        }
    }
}

@media (max-width: 700px) {
    .img-holder
    img {
        width: 70vw;
    }

    .banner-thingy-kinda {
        padding: 0;
    }
}