@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(225, 225, 225);
  font-family: Montserrat, "Courier New", Courier, monospace;
}

.text-xxs {
  font-size: 14px;
}

.text-xs {
  font-size: 16px;
}

.text-s {
  font-size: 20px;
}

.text-m {
  font-size: 32px;
}

.text-l {
  font-size: 40px;
}

.text-xl {
  font-size: 80px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #313338;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: normal;
  flex-grow: 100;
}

header,
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0px calc(9vw - 20px);
  background-color: #2b2d31;
  font-family: "Montserrat";
}

header {
  width: 100vw;
  border-bottom: 3px solid #383a40;
}
header a {
  width: 100%;
  height: 100%;
  width: 150px;
  text-align: center;
  padding-top: 11px;
  background-color: #2b2d31;
}
header .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0;
}
header .links a {
  width: 150px;
}
header a:hover {
  background-color: #383a40;
}

footer {
  border-top: 3px solid #383a40;
}

a {
  text-decoration: none;
}

.hover-glow:hover {
  background-color: #383a40;
}

@media (max-width: 700px) {
  .text-xxs {
    font-size: 12px;
  }
  .text-xs {
    font-size: 14px;
  }
  .text-s {
    font-size: 16px;
  }
  .text-m {
    font-size: 22px;
  }
  .text-l {
    font-size: 30px;
  }
  .text-xl {
    font-size: 40px;
  }
  header {
    padding: 0;
    overflow: hidden;
  }
  header a {
    width: 80px;
  }
  header .links {
    gap: 2vw;
  }
  header .links a {
    width: 80px;
  }
}
main {
  padding: 0 calc(9vw - 20px + 20px);
  margin-top: 60px;
  width: 100vw;
  line-height: 1.6;
}

h1, h2 {
  margin-bottom: 30px;
}

.section {
  margin-bottom: 45px;
  padding: 0 12px;
}

.img-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  gap: 40px;
}
.img-holder .alt {
  text-align: center;
}

img {
  width: 500px;
  border: 3px solid #2b2d31;
  border-radius: 12px;
  box-shadow: 0 0 20px 10px #2b2d31;
}

.banner-thingy-kinda {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  width: 100%;
  margin-bottom: 60px;
  gap: 10vw;
  padding: 0 60px;
}
.banner-thingy-kinda .banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  gap: 20px;
}
.banner-thingy-kinda .banner-text a {
  padding: 10px 20px;
  border: 3px solid #3f4248;
  border-radius: 20px;
  box-shadow: 0 0 15px 10px #2b2d31;
}
.banner-thingy-kinda img {
  width: 50%;
}

h1 {
  font-size: 60px;
  margin: 0;
}

@media (max-width: 1000px) {
  .banner-thingy-kinda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    height: auto;
    gap: 5vh;
  }
  .banner-thingy-kinda .banner-text, .banner-thingy-kinda img, .banner-thingy-kinda h1, .banner-thingy-kinda div {
    width: 100%;
  }
  .banner-thingy-kinda .banner-text {
    text-align: center;
    gap: 20px;
  }
}
@media (max-width: 700px) {
  img {
    width: 70vw;
  }
}/*# sourceMappingURL=project.css.map */